.Loginpage {
    width: 100%;
}
  
@media (min-width: 1000px) and (min-height: 700px) {
    .splitLeft {
        width: 700px;
        height: 600px
    }
}

@media (min-width: 500px) and (min-height: 401px) {
    .splitLeft {
        width: 450px;
        height: 400px;
    }
}

@media (min-width: 500px) and (min-height: 400px) {
    .splitLeft {
        width: 350px;
        height: 300px
    }
}
