.mainPanel {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../../Images/EmployeeAnalytics.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


